.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-background_color_blue {
  background-color: #073042;
}

.app-background_color_dark {
  background-color: #202020;
}

.app-background_color_gray {
  background-color: #272727;
}