.login {
  display: flex;
  justify-content: center;
  
  width: 100%;
  padding: 70px 0;
}

.login-form {
  display: flex;

  flex-direction: column;
  align-items: flex-start; 

  max-width: 396px;
  width: 100%;
}

.login-form__header {
  font-family: inherit;
  font-style: medium;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.2;

  color: #ffffff;

  margin: 40px auto 16px;

  width: 100%;
}

.login-form__label {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.2;

  color: #8b8b8b;

  margin: 24px auto 0;

  width: 100%;
}

.login-form__input {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;

  color: #ffffff;

  background-color: #202020;
  
  border: none;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 12px;
  margin: 5px auto 0;

  width: 100%;
}

.login-form__input:focus {
  outline: none;
  border-bottom: 1px solid #4285F4;
}

.login-form__button {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.22;
  text-align: center;
  background-color: #4285F4;
  color: #fff;

  border: 0;
  border-radius: 3px;

  width: 100%;

  padding-top: 13px;
  padding-bottom: 15px;
  margin: 220px auto 0;
}

.login-form__error {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.2;

  color: #ee3465;

  margin: 6px auto 0;

  width: 100%;
}

.login-form__link-capture {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.22;
  text-align: center;
  color: #fff;

  width: 100%;

  margin: 16px auto 0;
}

.login-form__link {
  text-decoration: none;
  color: #4285F4;

  margin-left: 6px;
}

@media screen and (max-width: 320px) {
  .login {
    font-size: 12px;
  }

  .login-form {
    align-items: center; 

    max-width: 260px;
  }

  .login-form__link-capture {
    font-size: 12px;
  }

  .login-form__link {
    font-size: 12px;
  }
}